<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/cart.css">
</head>

<body>
<div class="header">
    <div class="wrapper">
        {% if not buyer %}
            <ul>
                <li><a href="/buyerLogin">Log In</a></li>
                <li><a href="/buyerRegister">Register</a></li>
            </ul>
        {% else %}
            <ul>
                <li>Welcome! User: {{ buyer }}</li>
                <li><a href="/buyerLogout">Log Out</a></li>
                <li><a href="/order">Order</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
            </ul>
        {% endif %}

        <h1><a href="/">Richard Marketplace</a></h1>
    </div>
</div>

<div class="search wrapper">
    <form action="/search" method="post">
        <input type="search" name="keyword" value="{{ keyword }}" placeholder="Please enter the keyword">
        <button>Search</button>
    </form>
</div>

<div class="cart wrapper">
    <h3>Shopping Cart</h3>
    <div>
        <table>
            <thead>
            <tr>
                <th colspan="2">
                    Product
                </th>
                <th>
                    Unit-price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Sub Total
                </th>

                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
                <tr>
                    <td class="info">
                        <a href="/info/{{ cart[0][0] }}">
                            <img src="{{ cart[0][9] }}" alt="">
                        </a>
                    </td>
                    <td>
                        {{ cart[0][1] }}
                    </td>
                    <td class="price">
                        {% if cart[0][11] and cart[0][12] and cart[0][11] <= time < cart[0][12] %}
                            ￥<i style="font-size: 19px;">{{ cart[0][10] }} </i> <span style="font-size: 14px; color: #c2baba; text-decoration: line-through">{{ cart[0][4] }}</span>
                        {% else %}
                            ￥<span>{{ cart[0][4] }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="minus/{{ cart[0][13] }}">-</a>
                        {{ cart[0][14] }}
                        <a href="plus/{{ cart[0][13] }}">+</a>
                    </td>
                    <td class="price">
                        ￥<span>{{ cart[1] }}</span>
                    </td>
                    <td>
                        <a href="/purchaseCart/{{ cart[0][13] }}?price={{ cart[1] }}">Purchase</a>
                        <a href="/toDeleteCart/{{ cart[0][13] }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="/purchaseAll?price={{ total }}" class="all">Purchase All</a>
        <p class="total">
            Total Price: <i>￥</i><span>{{ total }}</span>
        </p>
    </div>
    <div class="footer">

    </div>

</div>


</body>

</html>