<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Remove</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/product_edit.css">
</head>

<body>
    <div class="header">
        <div class="wrapper">
            {% if not buyer %}
            <ul>
                <li><a href="/buyerLogin">Log In</a></li>
                <li><a href="/buyerRegister">Register</a></li>
            </ul>
            {% else %}
            <ul>
                <li>Welcome! User: {{ buyer }}</li>
                <li><a href="/buyerLogout">Log Out</a></li>
                <li><a href="/order">Order</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
            </ul>
            {% endif %}

            <h1><a href="/">Richard Marketplace</a></h1>
        </div>
    </div>

<div class="prod_detail wrapper">
    <div class="content">
        <div class="attribute fix">
            <div class="pic">
                <img src="{{ cart[2] }}">
            </div>
            <h2>Remove {{ cart[1] }} ?</h2>
            <div class="opt">
                <a href="/cart">Cancel</a>
                <a href="/deleteCart/{{ cart[0] }}">Remove</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<script>
        const input_pic = document.querySelector('.input_pic');
        const img = document.querySelector('.pic img');
        const text = document.querySelector('.pic p');
        if (img.getAttribute("src") !== '') {
            img.style.display = "block"
        }
        else if (img.getAttribute("src") === '') {
            text.style.display = "block";
        }

        input_pic.addEventListener('change', function () {
            let file = this.files[0];
            if (file.type.indexOf("image") == 0) {
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    let newUrl = this.result;
                    img.src = newUrl;
                }
                img.style.display = "block";
                text.style.display = "none";
            }
        })

        const input = document.querySelectorAll('input');
        for (let i = 0; i < input.length; i++) {
            if (input[i].value !== '') {
                input[i].style.border = 'none'
                input[i].style.boxShadow = 'none'
            }
            input[i].addEventListener('blur', function () {
                if (input[i].value === '') {
                    input[i].style.border = '1px solid rgb(23, 149, 19)';
                    input[i].style.borderRadius = '2px';
                } else {
                    input[i].style.border = 'none';
                    input[i].style.boxShadow = 'none'
                }
            })
            input[i].addEventListener('focus', function () {
                input[i].style.border = '1px solid rgb(23, 149, 19)';
                input[i].style.borderRadius = '2px';
                input[i].style.outline = 'none'
            })
        }



    </script>

</body>

</html>