.order {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    min-height: 446px;
    background-color: rgba(255, 255, 255, 0.8);
}

.order h3 {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

.order div {
    margin-top: 20px;
    max-height: 800px;
    overflow-y: auto;
}

.order table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(23, 149, 19);
    width: 1080px;
    text-align: center;
    box-shadow: 2px 1px rgb(23, 149, 19);
    background-color: white;
}

.order table th {
    background-color: rgb(23, 149, 19);
    font: bold 16px;
    color: #fff;
    height: 24px;
}

.order table td {
    border: 1px solid #d0d0d0;
    color: #404060;
    padding: 6px;
    max-width: 120px;
}

.order table td:first-child {
    border-right: none;
}

.order table td:nth-child(2) {
    border-left: none;
}

.order table img {
    width: 137px;
    height: 137px;
}

.order table a {
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: rgb(23, 149, 19);
    box-shadow: 1px 1px rgb(23, 149, 19);
    color: white;
    cursor: pointer;
}

.order table .price {
    color: red;
}

.order table .price span {
    font-size: 19px;
}

.order .info a {
    background-color: white;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 137px;
    height: 137px;
}