.product {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
}

.product_pic .product_img {
    width: 430px;
    height: 430px;
    box-shadow: 1px 1px;
    background-color: white;
}

.favour{
    margin-top: 30px;
    margin-bottom: 31px;
}

.favour a:first-child{
    margin-right: 70px;
}

.favour a{
    padding: 0 10px;
    border: 1px solid black;
}

.favour a:hover{
    background-color: rgb(23, 149, 19);
    color: white;
}

.favour .selected{
    background-color: rgb(23, 149, 19);
    color: white;
}

.product_detail {
    padding-left: 20px;
    padding-top: 10px;
    width: 600px;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 2px 2px;
    background-color: white;
}



.product_detail p {
    margin: 30px 0;
}

.product_detail .duration{
    font-size: 16px;
    color: rgb(23, 149, 19);
}

.product_detail .price{
    margin-bottom: 0;
}

.product_detail .price span {
    font-size: 16px;
    color: red;
}

.product_detail .price span span{
    font-size: 21px;
}

.product_detail .price span i {
    font-style: normal;
    font-size: 21px;
}

.product_detail  textarea {
    padding: 8px 10px;
    width: 556px;
    height: 121px;
    resize: none;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 16px;
}

.product button {
    margin-right: 50px;
    margin-bottom: 40px;
    padding: 0 16px;
    height: 70px;
    width: 180px;
    line-height: 60px;
    border: 0;
    cursor: pointer;
    background-color: rgb(23, 149, 19);
    font-size: 20px;
    vertical-align: middle;
    color: white;
}

.product_detail .number{
    margin-top: 20px;
    margin-bottom: 15px;
}

.product input[type = "number"]{
    margin-top: 0px;
    padding-left: 8px ;
    width: 70px;
    height: 28px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    height: 20px;
    opacity: 1;
}

.comment {
    padding: 20px 55px 20px 60px;
    position: relative;
    margin-top: 90px;
    margin-bottom: 80px;
    background-color: white;
    box-shadow: 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.comment h3 {
    margin-bottom: 30px;
    font-size: 24px;
}

.comment textarea {
    padding: 20px;
    height: 150px;
    width: 1000px;
    outline: none;
    resize: none;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid rgb(23, 149, 19);
    box-shadow: 1px 1px rgb(23, 149, 19);
}

.comment button {
    position: absolute;
    top: 497px;
    right: 80px;
    padding: 12px 37px;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    background-color: rgb(23, 149, 19);
    box-shadow: 1px 1px rgb(23, 149, 19);
    color: white;
}

.comment li{
    margin-top: 40px;
    padding: 10px 15px 20px;
    width: 1000px;
    list-style: none;
    background-color: white;
    border: 1px solid #000;
    box-shadow: 1px 1px;
}

.comment li:first-child{
    margin-top: 80px;
}

.comment li:last-child{
    border-bottom: none;
}

.comment li .username{
    float: left;
    margin-bottom: 20px;
    font-size: 18px;
    color: #444;
    font-weight: 700;
}

.comment li .time{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color: #999AAA;
}

.comment li .content{
    padding: 8px 16px;
    min-height: 6em;
    border: 1px solid rgb(23, 149, 19);
    box-shadow: 2px 2px rgb(23, 149, 19);
}

.comment .desc{
    margin-bottom: 50px;
}