.title a{
    display: block;
    float: left;
    padding: 10px;
    background-color: #fff;
    border: 2px solid black;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.title a:first-child{
    background-color: rgba(218, 218, 218, 0.5);
}

.title a:last-child{
    background-color: rgb(23, 149, 19);
    color: #fff;
}

.product_mag {
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    min-height: 446px;
}

.product_mag h3 {
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

.product_mag div {
    margin-top: 1px;
    max-height: 550px;
    overflow-y: auto;
}

.product_mag table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(23, 149, 19);
    border-top: none;
    width: 1080px;
    text-align: center;
    box-shadow: 2px 1px rgb(23, 149, 19);
    background-color: white;
}

.product_mag table th {
    background-color: rgb(23, 149, 19);
    font: bold 16px;
    color: #fff;
    height: 24px;
}

.product_mag table td {
    border: 1px solid #d0d0d0;
    color: #404060;
    padding: 6px;
    max-width: 120px;
}


.product_mag table img {
    width: 137px;
    height: 137px;
}

.product_mag table a {
    display: inline-block;
    width: 80px;
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: rgb(23, 149, 19);
    box-shadow: 1px 1px rgb(23, 149, 19);
    color: white;
    cursor: pointer;
    margin: 4px;
}

.product_mag table .price {
    color: red;
}

.product_mag table .price span {
    font-size: 19px;
}

.product_mag table thead tr:last-child a{
    margin: 4px;
    height: 40px;
    background-color: white;
    box-shadow: none;
    color: rgb(23, 149, 19);
}

.product_mag .info a {
    background-color: white;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 137px;
    height: 137px;
}
